
.navbar {
    padding: 18px 40px;
}

.nav-link {
    font-weight: 500;
    color: #000 !important;
}
.nav-item{
    align-items: end;
}

.help-btn {
    background-color: #69c27d;
    color: #fff;
    padding: 8px 18px;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
}

.help-btn:hover {
    background-color: #5ab36f;
    color: #fff;
}
.download-wrap {
    display: flex;
    gap: 20px;
}

.store-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #000;
    color: #fff;
    padding: 14px 26px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.store-btn img {
    width: 24px;
    height: auto;
    filter: invert(1); /* icon white */
}

.store-btn:hover {
    background: #111;
}
header{
    display: flex;
    margin-top: 20px;
}
h1{
    width: 80px;
font-style: 800px;
}